.ration-maxheight {
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
}

.ration-tag {
	padding: 3px;
	border-radius: 3px;
	color: white;
	white-space: nowrap;
}

.ration-meal {
	padding: 5px 5px 5px;
	h4, .bg-warning {
		cursor: pointer;
	}
}

.ration-rations {
	padding: 15px 10px;
	border-radius: 2px;
}

.ration-filter {
	margin: 10px 0px;
}

.ration-action {
	cursor: pointer;
}
.ration-text {
	color: black;
	text-decoration: none;
}

.ration-meal {
	border: 2px solid white;

	&.ration-active {
		border: 2px solid green;
		border-radius: 4px;
		background-color: LightCyan;
	}
}

.ration-bordered {
	border-bottom: 1px solid grey;

}

.ration-ration {
	margin: 2px 0px;
	padding: 2px;
}

.ration-ok {
	background-color: green;
}

.ration-excess {
	background-color: OliveDrab;
}

.ration-fail {
	background-color: red;
}

.ration-lack, .ration-cal {
	background-color: grey;
}

.ration-sofar {
	background-color: blue;
}

.ration-percent {
	background-color: Gray;
}

.ration-weight {
	background-color: Gray;
}

a .glyphicon {
	color: grey;
}

a:hover .glyphicon {
	color: #428bca;
}

.ration-warning-area {
	padding: 10% 20%;
}

.ration-underlined {
	border-bottom: 1px solid lightgrey;
}

.debug {
	border: 1px solid red;
}

.ration-panel {
	vertical-align: bottom;
	margin-bottom: 10px;

	h3, a {
		display: inline;
	}

	a {
		float: right;
	}
}

.ration-dict {
	.row {
		padding: 3px 0px;
		margin: 0px;

		&:hover {
			background-color: lightgrey;
		}
		&:nth-child(even) {
			background-color: #f3f3f3;
		}
	}
}
