.tag() {
	padding: 3px;
	border-radius: 3px;
}

.ration-meal {
	padding: 5px 5px 5px;
	h4, .bg-warning {
		cursor: pointer;
	}
}

.ration-rations {
	padding: 20px;
	border-radius: 2px;
}

.ration-filter {
	margin: 10px 0px;
}

.ration-action {
	cursor: pointer;
}

.ration-meal {
	border: 2px solid white;

	&.ration-active {
		border: 2px solid green;
		border-radius: 4px;
		background-color: LightCyan;
	}
}

.ration-product {
	margin-bottom: 3px;
}

.ration-bordered {
	border-bottom: 1px solid grey;

}

.ration-ration {
	margin: 2px 0px;
	padding: 2px;
}

.ration-ok {
	.tag;
	background-color: green;
	color: white;
}

.ration-fail {
	.tag;
	background-color: red;
	color: white;
}

.ration-lack {
	.tag;
	background-color: grey;
	color: white;
}

.ration-sofar {
	.tag;
	background-color: blue;
	color: white;
}
