<html ng-app="ng-ratio">
<head>
	foreach(file,(JAVASCRIPTS),<script type="text/javascript" src="file"></script>
	)
	foreach(file,(STYLES),<link rel="stylesheet" type="text/css" href="file">
	)
</head>
<body>
<div class="container">
		<slide-menu name="main">
		<ul>
			<li><a href="#/">Trips</a></li>
			<li><a href="#/new">Add new</a></li>
			<li><a href="#/help">Help</a></li>
			<li><a href="#/test">Test</a></li>
			<!--
			<li>Options<ul>
				<li><a href="#/">Trips</a></li>
				<li><a href="#/new">Add new</a></li>
			</ul>
			</li>
		-->
		</ul>
		</slide-menu>
	<div class="container">
		<ng-view></ng-view>
	</div>

</div>
</body>
</html>
