<html ng-app="ng-ratio">
<head>
	foreach(file,(JAVASCRIPTS),<script type="text/javascript" src="file"></script>
	)
	foreach(file,(STYLES),<link rel="stylesheet" type="text/css" href="file">
	)
	foreach(file,(TEMPLATES),<script type="text/ng-template" id="file">
	m4_esyscmd`'(cat file)
</script>
)

</head>
<body>
	<div class="container hidden-print">
		<slide-menu name="main">
		<ul>
			<li><a href="#/">Походы</a></li>
			<li><a href="#/product">Настройки</a></li>
			<li><a href="#/help">Help</a></li>
			DEBUG(<li><a href="#/test">Test</a></li>)
		</ul>
		</slide-menu>
	</div>
	<div class="container">
		<ng-view></ng-view>
	</div>
</body>
</html>
