<nav class="hidden-print" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-right: 100px;">
                <li><a href="#/">Походы</a></li>
                <li><a href="#/product">Продукты</a></li>
                <li><a href="/ration">Справка</a></li>
            </ul>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Leaderboard -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-5339524037919340"
				 data-ad-slot="6694109453"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
    </div>
</nav>

<div class="container">
    <ng-view></ng-view>
</div>
