<h2>Справка</h2>
<h3>Общие сведения</h3>
<p>Приложение &laquo;Раскладка&raquo; предназначено для составления продуктовой раскладки похода.</p>
<p>Для начала работы с приложением вам нужно:</p>
<ul>
	<li>
		<p>Получить список продуктов</p>
	</li>
	<li>
		<p>Завести информацию о планируемом походе.</p>
	</li>
	<li><p>
		Перейти в режим планирования похода.
	</p></li>
</ul>

<h3>Планирование</h3>
<p>
	В каждый день планируемого похода (левая часть экрана) добавляйте продукты из списка в правой части экрана
	пока не будет достигнут запланированый уровень калорийности. Достижение этого уровня сигнализируется отображение ярлыка дня зелёным цветом,
	в отличие от красного, обозначающего недостаток калорий в этот день.
</p>
<p>
	После того как планирование закончено можно перейти в режим отчёта закупок, где с разбиением по группам доступен весь список необходимых продуктов.
</p>
