<h1>{{ Trip.title }}</h1>


<div class="row">
	<div class="col-md-6">
		<div class="row" ng-repeat="day in days" ng-form="test">
			<h3>{{ day.date | date }}</h3>

			<div class="row">
				<div class="col-md-3">
					{{ day.calories () }} до {{ Trip.calorificTarget() }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<div ng-repeat="meal in day.meals" class="ration-meal row" ng-class="{'ration-active': meal === active}">
						<div class="col-md-2">
							<h4 ng-click="activate(meal)">{{ meal.title }}</h4>
						</div>
						<div class="ration-rations col-md-9 col-md-offset-1" ng-class="{'bg-warning': !meal.rations.length, 'bg-info': meal.rations.length}" ng-click="activate(meal)">
							<div ng-repeat="ration in meal.rations" class="row ration-ration" ng-class="{'ration-bordered': !$last}">
								<div class="col-md-8">
									{{ productIndex [ration.product].title | limitTo: 30 }}
								</div>
								<div class="col-md-1">
									{{ ration.amount }}
								</div>
								<div class="col-md-3">
									<a class="btn btn-sm btn-danger" ng-click="removeRation(ration)">Убрать</a>
								</div>
							</div>
							<div ng-hide="meal.rations.length">
									Нет продуктов
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<h3>Продукты ({{ productCount }}) <a class="btn btn-success btn-sm pull-right" ng-click="editProducts()">Редактировать</a></h3>
		<div class="input-group ration-filter">
			<div class="input-group-addon ration-filter-reset" ng-class="{'ration-action': search.title.length  }" ng-click="search.title = ''">Фильтр</div>
			<input ng-model="search.title" type="text" class="form-control">
		</div>
		<div ng-repeat="product in products | filter:search:false | limitTo: 20" class="row ration-product">
			<div class="col-md-2">
				<a class="btn btn-sm btn-default" ng-click="addRation(product)">Добавить</a>
			</div>
			<div class="col-md-8">
				{{ product.title }}
			</div>
			<div class="col-md-2">
				{{ product.calorificValue }}
			</div>
		</div>
	</div>
</div>
