<h1>{{ Trip.title }}
	<div class="btn-group pull-right hidden-print">
		<a class="btn btn-default" href="#/report/{{ Trip.id }}">Отчёт закупок</a>
	</div>
</h1>

<div class="row hidden-print">
	<div class="col-md-12 panel">
		<div class="pull-right">
			Масса: <tag name="weight" >{{ layout.weight() | number : 0 }}</tag> г
		</div>
		<div>
			Прогресс по дням: <a ng-repeat="day in days" ng-click="scrollToDay ($index)" class="ration-action">
				<tag name="{{ day.calories (productIndex) >= Trip.calorificTarget() ? 'ok' : 'fail'}}" >{{ day.date | date : format='d' }}</tag>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<div id="layout" class="ration-maxheight" style="position: relative;">
			<h3 id="day-{{ $index }}" ng-repeat-start="day in days" ng-init="dayIndex = $index">{{ day.date | date }}</h3>
			<div class="row panel">
				<div class="col-md-10 col-md-offset-1">
					kcal: <tag name="sofar">{{ day.calories (productIndex) | number : 0}}</tag>
					<span ng-show="day.calories (productIndex) < Trip.calorificTarget()">
						+
						<tag name="lack">{{ Trip.calorificTarget() - day.calories (productIndex) | number : 0 }}</tag>
						&#8594;
						<tag name="fail">{{ Trip.calorificTarget() | number : 0 }}</tag>
					</span>
					<span ng-show="day.calories (productIndex) >= Trip.calorificTarget()">
						=
						<tag name="ok">{{ Trip.calorificTarget() | number : 0 }}</tag>
						+
						<tag name="excess">{{ day.calories (productIndex) - Trip.calorificTarget() | number : 0 }}</tag>
					</span>
					<div class="pull-right">
						<tag name="weight">{{ day.weight () | number : 0}}</tag> г
					</div>
				</div>
			</div>
			<div class="row" ng-repeat-end>
				<div class="col-md-10 col-md-offset-1">
					<div ng-repeat="meal in day.meals" class="ration-meal row" ng-init="mealIndex = $index" ng-class="{'ration-active': meal === activeMeal}">
						<div class="col-md-1">
							<h4 ng-click="activateMeal(meal);">{{ meal.title }}</h4>
							<tag name="percent" ng-show="0 < day.calories(productIndex)">
							{{ meal.calories(productIndex) / day.calories(productIndex) * 100 | number: 0}}%</tag>
						</div>
						<div class="ration-rations col-md-10 col-md-offset-1" ng-class="{'bg-warning': !meal.rations.length, 'bg-info': meal.rations.length}" ng-click="activateMeal(meal);">
							<div ng-repeat="ration in meal.rations" class="row ration-ration" ng-class="{'ration-bordered': !$last}">
								<div class="col-md-1">
									<a ng-click="removeRation($event, ration)" title="Удалить или (+Alt) переместить в корзину" class="pull-left ration-action" style="margin-right: 10px;margin-top: 2px;"><glyph name="remove"></glyph></a>
								</div>
								<div class="col-md-6">
									{{ productIndex [ration.product].title | limitTo: 30 }}
								</div>
								<div class="col-md-5">
									<span ng-show="ration.amount">
									<a class="ration-action ration-text" ng-click="editRation(ration, 1)">{{ ration.amount | number:0}} г</a> &#8594;
									<a class="ration-action" ng-click="editRation(ration, 2)"><tag name="sofar">{{ productIndex [ration.product].calories (ration) | number: 0}}</tag></a>
									</span>
									<span ng-hide="ration.amount"><glyph name="ok" color="green"></glyph></span>
								</div>
							</div>
							<div ng-hide="meal.rations.length">
									Нет продуктов
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-5" ng-hide="inBasket">
		<h3>Продукты <a class="btn btn-default pull-right" ng-click="inBasket = true" title="">Корзина</a></h3>
		<div class="input-group ration-filter panel">
			<div class="input-group-addon ration-filter-reset" ng-class="{'ration-action': search.title.length  }" ng-click="search.title = ''; updateProductFilter()">Поиск</div>
			<input ng-model="search.title" type="text" class="form-control" ng-change="updateProductFilter()">
		</div>
		<div id="products" class="ration-maxheight">
			<div class="row ration-product" ng-repeat="product in filteredProducts">
				<div class="col-md-2">
					<a class="btn btn-sm btn-default" ng-click="addRation(product.createRation(), $event)" title="+Alt - с указанием веса, +Ctrl - с указанием калорийности">Добавить</a>
				</div>
				<div class="col-md-8">
					{{ product.title }}
				</div>
				<div class="col-md-2">
					{{ product.calorificValue }}
				</div>
			</div>

			<div class="row" ng-show="filteredOut != 0 && !displayFilteredOut">
				<div class="col-md-12">
				<p>Не показаны ещё {{ filteredOut }} продуктов.
				<a class="btn btn-sm btn-link" ng-click="displayFilteredOut = 1; updateProductFilter()">Показать</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5" ng-show="inBasket">
		<h3>Корзина <a class="btn btn-default pull-right" ng-click="inBasket = false" title="">Продукты</a></h3>
		<div class="row" ng-repeat="ration in basket.rations" ng-show="basket.rations.length">
			<div class="col-md-2">
				<a class="btn btn-sm btn-default" ng-click="addRationAndRemove(ration, $event)" title="+Alt - с указанием веса, +Ctrl - с указанием калорийности">Добавить</a>
			</div>
			<div class="col-md-8">
				{{ productIndex [ration.product].title }}
			</div>
			<div class="col-md-2">
				{{ productIndex [ration.product].calorificValue }}
			</div>
		</div>

		<div ng-hide="basket.rations.length">
			Нет продуктов.
		</div>
	</div>
</div>
