<h1>{{ Trip.title }}</h1>

<div class="row">
	<div class="col-md-7">
		<div style="height: 900px; overflow: scroll; overflow-y: scroll;
overflow-x: hidden;">
		<div class="row" ng-repeat="day in days" ng-init="dayIndex = $index" ng-form="test">
			<h3>{{ day.date | date }}</h3>

			<div class="row panel">
				<div class="col-md-10 col-md-offset-1">
					kcal: <tag name="sofar">{{ day.calories (productIndex) }}</tag>
					<span ng-show="day.calories (productIndex) < Trip.calorificTarget()">
						+
						<tag name="lack">{{ Trip.calorificTarget() - day.calories (productIndex) }}</tag>
						&#8594;
						<tag name="fail">{{ Trip.calorificTarget() }}</tag>
					</span>
					<span ng-show="day.calories (productIndex) >= Trip.calorificTarget()">
						=
						<tag name="ok">{{ Trip.calorificTarget() }}</tag>
						+
						<tag name="excess">{{ day.calories (productIndex) - Trip.calorificTarget() }}</tag>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div ng-repeat="meal in day.meals" class="ration-meal row" ng-init="mealIndex = $index" ng-class="{'ration-active': meal === activeMeal}">
						<div class="col-md-1">
							<h4 ng-click="activateMeal(meal)">{{ meal.title }}</h4>
							<tag name="percent" ng-show="0 < day.calories(productIndex)">
							{{ meal.calories(productIndex) / day.calories(productIndex) * 100 | number: 0}}%</tag>
						</div>
						<div class="ration-rations col-md-10 col-md-offset-1" ng-class="{'bg-warning': !meal.rations.length, 'bg-info': meal.rations.length}" ng-click="activateMeal(meal)">
							<div ng-repeat="ration in meal.rations" class="row ration-ration" ng-class="{'ration-bordered': !$last}">
								<div class="col-md-7">
									{{ productIndex [ration.product].title | limitTo: 30 }}
								</div>
								<div class="col-md-4">
									<span ng-show="ration.amount">
									{{ ration.amount }} г &#8594;
									<tag name="sofar">{{ productIndex [ration.product].calories (ration) }}</tag>
									</span>
									<span ng-hide="ration.amount"><glyph name="ok" color="green"></glyph></span>
								</div>
								<div class="col-md-1">
									<a ng-click="removeRation(ration, dayIndex, mealIndex)" title="Убрать" class="ration-action"><glyph name="remove" color="grey"></glyph></a>
								</div>
							</div>
							<div ng-hide="meal.rations.length">
									Нет продуктов
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<h3>Продукты<a class="btn btn-success btn-sm pull-right" ng-click="editProducts()">Редактировать</a></h3>
		<div class="input-group ration-filter panel">
			<div class="input-group-addon ration-filter-reset" ng-class="{'ration-action': search.title.length  }" ng-click="search.title = ''; updateFilter()">Поиск</div>
			<input ng-model="search.title" type="text" class="form-control" ng-change="updateProductFilter()">
		</div>
		<div class="row ration-product" ng-repeat="product in filteredProducts">
			<div class="col-md-2">
				<a class="btn btn-sm btn-default" ng-click="addRation(product.createRation())">Добавить</a>
			</div>
			<div class="col-md-8">
				{{ product.title }}
			</div>
			<div class="col-md-2">
				{{ product.calorificValue }}
			</div>
		</div>

		<div class="row" ng-show="filteredOut != 0 && !displayFilteredOut">
			<div class="col-md-12">
			<p>Не показаны ещё {{ filteredOut }} продуктов.
			<a class="btn btn-sm btn-link" ng-click="displayFilteredOut = 1; updateProductFilter()">Показать</a></p>
			</div>
		</div>
	</div>
</div>
