<h2>{{ Product.title || "Новый продукт" }} </h2>

<ng-form name="initial">
	<div class="form-group row">
		<div class="col-md-12">
			<label for="title">Продукт</label>
			<input id="title" type="text" ng-model="Product.title" ng-required="true" class="form-control" placeholder="Название">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<label for="title">Калорийная ценность</label>
			<p>в 100 г продукта</p>
			<input type="number" id="title" ng-model="Product.calorificValue" ng-required="true" class="form-control" placeholder="Калорий">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<label for="portion">Типичная порция</label>
			<p>на человека в 2500 калорий</p>
			<input type="number" id="portion" ng-model="Product.usualPortion" ng-required="true" class="form-control" placeholder="Порция в граммах">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-5">
			<label for="portion">Продаётся штуками</label>
			<input type="checkbox" id="soldbypiece" ng-model="Product.soldByPiece" ng-required="false" class="">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-10">
			<label for="group">Группа</label>
			<input type="text" id="group" ng-model="Product.group" ng-required="true" class="form-control" placeholder="Группа">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<label for="keywords">Ключевые слова</label>
			<input type="text" id="keywords" ng-model="Product.keywords" ng-required="false" class="form-control" placeholder="Ключевые слова">
			<p>
				Используются при поиске
			</p>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-6">
			<a class="btn btn-primary" ng-disabled="initial.$invalid" ng-click="closeThisDialog(true)">Сохранить</a>
		</div>
	</div>

</ng-form>
