<h2>Продукты ({{ products.length }})</h2>
<div class="text-right">
<a class="btn btn-success" ng-click="edit(Product)">Добавить</a>
<a class="btn btn-default" ng-click="sync()">Синхронизация
    <glyph name="download"></glyph></a>
</div>

<div class="input-group ration-filter panel" ng-show="products.length">
    <div class="input-group-addon ration-filter-reset" ng-class="{'ration-action': search.title.length  }" ng-click="search.title = '';">Поиск</div>
    <input ng-model="search.title" type="text" class="form-control" ng-change="updateProductFilter()">
</div>

<table class="table table-striped" ng-show="products.length">
    <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Калорийность</th>
            <th>Порция</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="product in filteredProducts">
        <td>
            {{$index+1}}
        </td>
        <td>
            <a href="#/product/{{product.id}}" title="Редактировать">{{product.title}}</a>
        </td>
        <td>{{ product.calorificValue }}</td>
        <td>{{ product.usualPortion }}</td>
        <td>
        </td>
        <td>
          <a class="btn btn-info" ng-click="edit(product)">Свойства</a>
          <a class="btn btn-danger" ng-click="remove(product)">Удалить</a>
        </td>
    </tr>
</table>

<div ng-hide="products.length" class="row">
  <div class="col-md-5 col-md-offset-3">
    <p>Справочник продуктов пуст.</p>
    <p>Для добавления списка продуктов нажмите кнопку обновления</p>
    <p><a class="btn btn-success" ng-click="sync()">Обновить</a></p>
  </div>
</div>
