<h2>Походы</h2>

<div class="row">
	<a class="btn btn-success pull-right" href="#/new">Создать новый</a>
</div>
<table class="table table-striped" ng-show="trips">
	<thead>
		<tr>
			<th></th>
			<th>Название</th>
			<th>Человек</th>
			<th>Дата</th>
			<th></th>
		</tr>
	</thead>
	<tr ng-repeat="trip in trips">
		<td>
			{{$index+1}}
		</td>
		<td>
			<a href="#/plan/{{trip.id}}">{{trip.title}}</a>
		</td>
		<td>
			{{trip.menCount() }}
		</td>
		<td>
			{{ trip.from | date}} -
			{{ trip.to | date }}
		</td>
		<td>
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default" ng-click="editTrip(trip)" title="Редактировать параметры похода">Свойства</button>
				<button aria-expanded="true" aria-haspopup="true" type="button" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
					<span class="sr-only">Split button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="reportTrip(trip)" title="Отчёт закупок" class="ration-action">Отчёт закупок</a></li>
					<li><a ng-click="editTrip(trip)" title="Редактировать параметры похода" class="ration-action">Редактировать</a></li>
					<li><a ng-click="cloneTrip(trip)" class="ration-action" title="Сделать копию похода">Сделать копию</a></li>
					<li class="divider"></li>
					<li><a ng-click="removeTrip(trip)" title="Удалить поход навсегда" class="ration-action">Удалить</a></li>
				</ul>
			</div>
		</td>
	</tr>
</table>
<div class="row" ng-hide="trips">
	<div class="col-md-8 col-md-offset-2 bg-warning ration-warning-area">
		<p>У вас пока нет походов для планирования</p>
		<p>Попробуйте добавить один.</p>
	</div>
</div>
