<h2>{{ Trip.title || "Новый поход" }}</h2>

<wizard on-finish="addTrip()" edit-mode="editMode">

  <wz-step title="Название">
    <ng-form name="initial">
      <div class="form-group row">
        <div class="col-md-7">
          <label for="title">Название</label>
          <input id="title" ng-model="Trip.title" ng-required="true" class="form-control" placeholder="Название">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Первый день похода</label>
          <datepicker ng-model="Trip.from" min-date="minDate" ng-required="true" show-weeks="true" class="well well-sm"></datepicker>
        </div>
        <div class="col-md-4">
          <label>Последний день похода</label>
          <datepicker ng-model="Trip.to" min-date="minDate" ng-required="true" show-weeks="true" class="well well-sm"></datepicker>
        </div>
      </div>
    </ng-form>

    <p class="text-right">
      <a class="btn btn-primary" wz-next="" ng-disabled="initial.$invalid">Дальше</a>
    </p>
  </wz-step>

  <wz-step title="Калории">
    <ng-form name="cal">
      <div class="row" ng-repeat="plan in Trip.plans">
        <h3>План калорийности {{ $index + 1 }}</h3>
        <ng-form>
          <div class="form-group">
            <div class="col-md-3">
              <label>Расход калорий</label>
              <input type="number" min="1" ng-model="plan.calories" ng-required="true" class="form-control" placeholder="Количество каллорий на человека">
            </div>
            <div class="col-md-3">
              <label>Количество человек</label>
              <input type="number" min="1" ng-model="plan.men" ng-required="true" class="form-control" placeholder="Количество человек в этом плане">
            </div>
            <div class="col-md-2">
              <label style="visibility: hidden;">Удалить</label>
              <a class="btn btn-danger" style="display: block;" ng-click="removePlan($index)" ng-show="$index">Удалить</a>
            </div>
          </div>
        </ng-form>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label style="visibility: hidden;">Добавить</label>
          <a class="btn btn-info" ng-click="addPlan()">Добавить план</a>
        </div>
      </div>
    <div class="form-group"></div>
    </ng-form>
    <p class="text-right">
      <a class="btn btn-primary" wz-next="" ng-disabled="cal.$invalid">Сохранить</a>
    </p>
  </wz-step>

</wizard>
