<h2>Trips</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="trip in trips">
        <td>
            {{$index+1}}
        </td>
        <td>
            {{trip.title}}
        </td>
        <td>
            {{ trip.dateRange() }}
        </td>
        <td>
            <a class="btn btn-info" ng-click="">Edit</a>
            <a class="btn btn-danger" ng-click="removeTrip(trip)">Remove</a>
        </td>
    </tr>
</table>
