<h2>Походы</h2>
<a class="btn btn-default" ng-click="addTen()">Add 10 records</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Человек</th>
            <th>Дата</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="trip in trips">
        <td>
            {{$index+1}}
        </td>
        <td>
            <a href="#/plan/{{trip.id}}">{{trip.title}}</a>
        </td>
        <td>
            {{trip.menCount() }}
        </td>
        <td>
            {{ trip.from | date}} -
            {{ trip.to | date }}
        </td>
        <td>
            <a class="btn btn-info" ng-click="editTrip(trip)">Свойства</a>
            <a class="btn btn-danger" ng-click="removeTrip(trip)">Удалить</a>
        </td>
    </tr>
</table>
