<html ng-app="local-storage">
<head>
	<script type="text/javascript" src="/js/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/closurelibrary/closure/goog/base.js"></script>
	<script type="text/javascript" src="/js/angularjs/angular.js"></script>
	<script type="text/javascript" src="/js/angular-checklist-model/checklist-model.js"></script>
	<script type="text/javascript" src="/js/ngScrollTo/ng-scrollto.js"></script>
	<script type="text/javascript" src="/js/angular-local-storage/dist/angular-local-storage.js"></script>
	<script type="text/javascript" src="/js/node-uuid/uuid.js"></script>
	<?php foreach ($javascript_files as $file): ?>
	<script type="text/javascript" src="/<?php echo $file ?>"></script>
	<?php endforeach; ?>

	<link rel="stylesheet" type="text/css" href="/js/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container" ng-controller="StorageCtrl as storage">
    <h2>Trips</h2>
    <div class="text-right">
        <a class="btn btn-success" href="#">Add new</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="trip in storage.trips()">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{trip.title}}
            </td>
            <td>
                {{trip.dateRange()}}
            </td>
            <td>
                <a class="btn btn-info" ng-click="">Edit</a>
                <a class="btn btn-danger" ng-click="storage.removeTrip(trip)">Remove</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
